<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="icon" href="/images/Screenshot_2024-05-18_163234-removebg-preview.png" type="image/png">
    <link rel="stylesheet" href="/forgetPassword.css"> <!-- Unique CSS for Forget Password -->
</head>
<body>
    <!-- Import Navbar -->
    <%- include('./navbar.ejs') %> <!-- Assuming you have a navbar partial -->
    <%- include('./message.ejs', { success: success, error: error }) %>
    <div class="forgot-password-container">
        <h2>Forgot Your Password  ?</h2>

        <form action="/forgetPassword" method="POST" class="forgot-password-form">
            <div class="form-group">
                <label for="username">Username </label>
                <input type="text" id="username" name="username" placeholder="Enter your username or name">
            </div>

            <div class="form-group">
                <label for="email">Email Address </label>
                <input type="email" id="email" name="email" placeholder="Enter your email" required>
            </div>

            <button type="submit" class="btn-submit">Send OTP</button>
        </form>
    </div>
</body>
</html>
