<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reset Password</title>
  <link rel="stylesheet" href="/resetForm.css"> <!-- External CSS -->
  <link rel="icon" href="/images/Screenshot_2024-05-18_163234-removebg-preview.png" type="image/png">
</head>
<body class="reset-body">
  <%- include('./message.ejs', { success: success, error: error }) %>

  <!-- Password Reset Form -->
  <div class="password-reset-container">
    <h2>Reset Your Password</h2>
    <form action="/resetPassword/<%= email %>/<%= otp %>" method="POST">
      <p>Registered Email: <%= email %></p>
      <input type="password" placeholder="New Password" class="password-input" name="newPassword" required>
      <input type="password" placeholder="Confirm Password" class="password-input" name="confirmPassword" required>
      <button type="submit" class="reset-button">Reset Password</button>
    </form>
  </div>
</body>
</html>
